nav{
    background: white;
    height: 60px;
 }

nav ul {
    list-style-type: none;
    display: flex;
    width:100%;
    justify-content: left;
    margin:0;
    padding: 0 60px;
    gap: 1rem;
}


nav ul li a {
   font-weight: italic;
   color: black;
   text-decoration: none;
   padding: 1rem;
   display: block;
}

nav ul li {
    margin: 0;
    position: relative;
}

.signup-btn {
    font-weight: bold;
    border-radius: 30px;
    text-align: center;
    white-space: nowrap;
}
.signup-btn:hover{
    background:rgb(139, 94, 60);
}

.nav_link{
    transition: all 0.4s;

}

.nav_link::after{
    content:"";
    height: 3px;
    width:100%;
    background: #8B5E3C;;
    position:absolute;
    bottom: -3px;
    left: 0px;
    opacity: 0;
    transition: all 0.2s;
    pointer-events: none;
}

.nav_link:hover::after{
    opacity: 1;
}

@media (max-width: 575px) {
    .navbar-collapse {
    background-color: lightgrey;
    padding: 1.5rem 1rem;
    margin-top: 0.5rem;
    border-radius:12px;
}
}
