*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.head-info-bar-text{
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 3px;
    font-size: 18px;
    font-weight: normal;
    background-color: rgb(139, 94, 60);
    color: white;
    margin-bottom:0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px; 0;
}

.back-home{
    color: white;
    cursor:pointer;
    text-decoration: underline;
    weight:400;
}

.back-home:hover{
    color: black;
}

