.bottom-info-bar{
display: block;
}
.bottom-info-bar-text{
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 3px;
    font-size: 18px;
    font-weight: normal;
    background-color: #3B2A26;
    color: white;
    margin-bottom:0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px;
}
.bottom-info-explore{
    color: white;
    cursor:pointer;
    text-decoration: underline;
}
.bottom-info-explore:hover{
    color: black;
}