.head-info-explore:hover{
    color: black;
}

.head-info-bar-text{
    font-family: Montserrat;
    letter-spacing: 3px;
    font-size: 18px;
    font-weight: normal;
    background-color: rgb(139, 94, 60);
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px; 0;
}
.head-info-explore{
    color: white;
    cursor:pointer;
    text-decoration: underline;
}