.main-logo-bar{
display: flex;
align-items: center;
justify-content: center;
gap: 30px;
text-align:center;
}

.logo-name{
font-family: 'Montserrat', sans-serif;
letter-spacing: 3px;
font-size: 40px;
display: block;
text-align:center;
}
.logo-picture{
padding-top: 10px;
padding-bottom: 10px;
display:block;
width:150px;
height:auto;
}

.main-info{
display:flex;
background: lightblue;
flex-direction: row;
justify-content: space-between;
align-items: center;
}

.description-text{
display:inline-block
justify-content: center;
gap: 10px;
margin-bottom: 10px;
font-family: 'Montserrat', sans-serif;
width:650px;
font-size: 30px;
margin-top: 10px;
margin-bottom: 10px;
margin-left:100px;
background: lightpink;
}

.main-picture-block{
width: 650px;
margin-top: 10px;
margin-right:100px;
background: lightgrey;
}

.main-picture{
width: 100%;
height: 100%;
}