body{
margin-top:0px;
}

.main-logo-bar{
display: flex;
align-items: center;
justify-content: center;
gap: 30px;
text-align:center;
}

.logo-name{
font-family: 'Montserrat', sans-serif;
letter-spacing: 4px;
font-size: 40px;
display: block;
text-align:center;
}

.logo-picture{
padding-top: 10px;
padding-bottom: 10px;
display:block;
width:150px;
height:auto;
}

.product{
display: flex;
gap: 60px;
align-items: stretch;
padding: 0 0;
}

.about-text{
font-family: 'Montserrat', sans-serif;
font-size: 18px;
text-align: justify;
line-height: 1.8;
}


.main-pic{
width: 100%;
height: auto;
display: block;

}

.btn-terracotta {
  background-color: #8B5E3C;
  border-color: #8B5E3C;
  color: white;
}

.btn-terracotta:hover {
  background-color: #7a5032;
  border-color: #7a5032;
  color:black;
}

.view-all-btn{
  text-align: center;
  padding: 20px 0;
}

.view-text{
text-align: center;
}

