nav {
    background: white;
    height: 40px;
    width: 100%;
    position: sticky;
    top: 0;

}
nav ul {
    height: 100%;
    list-style-type: none;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    justify-content: left;
    align-items: center;
    margin:0;
}
nav ul li a {
   font-weight: italic;
   color: black;
   text-decoration: none;
   padding: 0.5rem 1rem;
   display: block;
}

.signup-btn {
  color: black;
  font-weight: bold;
}

.sign-up{
margin-left: auto;
}


