
nav {
    background: white;
    height: 60px;
    position: sticky;
    top: 0;
    display: flex;
   align-items: center;
   justify-content: center;
}
nav ul {
    list-style-type: none;
    display: flex;
    width:100%;
    justify-content: space-between;
    margin:0;
    padding:0;
}

.nav-left {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li a {
   font-weight: italic;
   color: black;
   text-decoration: none;
   padding: 1rem;
   display: block;
}
nav ul li {
  margin: 0;
}

.signup-btn {
  color: black;
  font-weight: bold;
  }

.sign-up{
margin-left: auto;
}

.nav_link{
position:relative;
transition: all 0.4s;
}

.nav_link::after{
    content:"";
    height: 3px;
    width:100%;
    background: #8B5E3C;;
    position:absolute;
    bottom: -3px;
    left: 0px;
    opacity: 0;
    transition: all 0.2s;
    pointer-events: none;
}
.nav_link:hover::after{
    opacity: 1;
}


