

nav {
    background: white;
    height: 60px;
    position: sticky;
    top: 0;
    display: flex;
   align-items: center;
   justify-content: center;
}
nav ul {
    list-style-type: none;
    display: flex;
    margin-bottom: 0px;
}

nav ul li a {
   font-weight: italic;
   color: black;
   text-decoration: none;
   padding: 1rem;
}

.signup-btn {
  color: black;
  font-weight: bold;
  padding-right:100px;
  }

.sign-up{
margin-left: auto;
}


