nav {
    background: white;
    height: 50px;
    width: 100%;
    position: fixed;
}
nav ul {
    height: 100%;
    list-style-type: none;
    padding: 30px;
    display: flex;
    justify-content: left;
    align-items: center;
}
nav ul li a {
    font-weight: bold;
    color: black;
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: block;
}
nav ul li a:hover {
    background-color: lightgray;
    border-radius: 10px;
}
.sign-up{
margin-left: auto;
padding-right: 30px;
}